<div class="container">
  <h1><%= @motel.map { |el| el.name }[0] %></h1>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= @motel.map { |el| el.logo }[0] %>);">
      <div class="banner-item"> <small>Bookings</small><br><span id="dash"><%= @bookings_total %></span></div>
      <div class="banner-item"> <small>Income</small><br><span id="dash"><%= number_to_currency_br(@income_total) %></span></div>
    </div>
    <div class="card">
      <% @rooms.each do |room| %>
      <div class="col-xs-12 col-sm-6 col-lg-6">
        <div class = "card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= room.picture %>);">  
          <div class="card-description"><%= "#{room.name} bookings" %></div>   
          <a class="card-link" href="<%= booking_path(room) %>"></a>
        </div>
        </div>
        <% end %>
    </div>
    <div class="col-lg-12">
      <%#= column_chart data_graph(date_time(data_fetch(@bookings_room, "paid_at")), data_fetch(@bookings_room, "amount_centavos")) %>
      <%= pie_chart room_revenue(@bookings, @rooms_id, @rooms), library: {title: "Revenue per room"} %>
    </div>
    <%= javascript_tag do %>
      const data = <%= raw @bookings_json %>;
    <% end %>
    <div class="col-lg-12">
      <div id="bookings-table">
      </div>
    </div>
  </div>
