<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.svg" %>
    <% end %>

      <!-- Right Navigation -->
      <div class="navbar-wagon-right hidden-xs hidden-sm">

        <% if user_signed_in? %>

          <!-- Links when logged in -->
          <%= link_to "Motel", bookings_path, class: "navbar-wagon-item navbar-wagon-link" %>
          <%= link_to "Log out", destroy_user_session_path, class: "navbar-wagon-item navbar-wagon-link", method: :delete %>
          
        <% end %>
      </div>

      <!-- Links appearing on mobile only -->
      <div class="navbar-wagon-item hidden-md hidden-lg">
        <%= link_to "Motel", bookings_path, class: "navbar-wagon-item navbar-wagon-link" %>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa fa-sign-out"></i>
         <% end %>
      </div>
</div>